doctype html
html
  block head
    head
      title= title
      link(href='https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css' rel='stylesheet')
      link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
      script(src='https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js')
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='preconnect' href='https://fonts.gstatic.com')
      link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap' rel='stylesheet')
      script(src='/javascripts/common.js')
  body
    block content
